#fixed {
    position: fixed;
    background-color: #eee;
    padding: 40px;
    top: 0;
    left: 0;
    text-align: center;
}

body {
    margin: 1% 10% 1% 10%;
}

#relative {
    position: relative;
    background-color: #eee;
    padding: 40px;
    top: 0;
    left: 0;

    text-align: center;

}

#absolute {
    position: absolute;
    background-color: #999;
    padding: 40px;
    top: 10%;
    right: 20%;

    text-align: center;

}