#title {
    background-color: black;
    color: white;
    text-align: center;
}
.box {
    border-width: 22px;
    border-style: solid;
    border-color: black;
    background-color:#6f3;

    color:#fff;
    font-size: 40px;
    
    height: 440px;
    width:400px;
    
    padding:25px 10px 30px 20px;
    margin: 10px 30px 20px 50px;

}